body.light-mode {
    background-color: lightskyblue;
    color: midnightblue;
    text-align: center;
  }

body.dark-mode {
    background-color: black;
    color: white;
    text-align: center;
  }

.theme-button {
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }

#header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 34px;
    font-style: italic;
    border: 3px solid;
    padding: 5px;
    text-align: center;
}

.describe, h1 {
    margin-top: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

